<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()" >
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Responsive Material Side Navigation</h1>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav [opened]="true" mode="side">
    <mat-nav-list routerLink="/home">
      <a mat-list-item>
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span *ngIf="!isCollapsed">Home</span>
        </span>
      </a>
    </mat-nav-list>
    <mat-nav-list routerLink="/events">
    <a mat-list-item>
        <span class="entry">
          <mat-icon>event_seat</mat-icon>
          <span *ngIf="!isCollapsed">Event</span>
        </span>
    </a>
  </mat-nav-list>
    <mat-nav-list routerLink="/task">
    <a mat-list-item>
        <span class="entry">
          <mat-icon>hourglass_full</mat-icon>
          <span *ngIf="!isCollapsed">Task</span>
        </span>
    </a>
  </mat-nav-list>
    <mat-nav-list routerLink="/about">
      <a mat-list-item>
        <span class="entry">
          <mat-icon>description</mat-icon>
          <span *ngIf="!isCollapsed">Task</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet/>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


